In [1]:
# Install dependencies
!pip3.9 install --upgrade pip
!pip3.9 install pandas tqdm multiprocess

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pip in /usr/local/lib/python3.9/site-packages (21.3)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (1.3.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/site-packages (4.62.3)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.9/site-packages (0.70.12.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: dill>=0.3.4 in /usr/local/lib/python3.9/site-packages (from multiprocess) (0.3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
# from tqdm.notebook import tqdm, trange
from tqdm import tqdm
import pandas as pd
import glob

In [3]:
datadir = "./data/*/"
all_datas = sorted(glob.glob(datadir + "*.csv"))

In [4]:
# CSV Count
print("Data CSV Count:", len(all_datas))

Data CSV Count: 39364

In [5]:
from multiprocess import Process, Pool

print("Read files...")

def read(filename):
    name = filename
    
    data = pd.read_csv(filename)
    data["filename"] = name
    # print("Read", filename.split("/")[-1])
    return (name, data)

pool = Pool()
result = list(tqdm(pool.imap(read, all_datas), total=len(all_datas)))

pool.close()
pool.join() # wait till pool to finish calculation

print("Finished Reading files...")

all_df = dict(result)

Read files...

100%|████████████████████████████████████| 39364/39364 [00:35<00:00, 1120.67it/s]

Finished Reading files...

In [6]:
# 버스 정류장
busstation = "PHB351016075" # 조회할 버스 정류장 - PHB351016075 농협양덕지점 (한동대방향)

all_datas = pd.concat(all_df.values(), ignore_index=True) # 모든 데이터를 합친다
all_datas = all_datas[all_datas.nodeid == busstation] # 정류장 검색

all_datas.reset_index(inplace=True) # Reset index
all_datas = all_datas[["vehicleno", "filename"]] # vehicle 번호와 filename 만 보여주기
all_datas["time"] = pd.to_datetime(all_datas["filename"], format="%y%m%d/%H%M%S", errors="coerce", exact=False) # filename 에서 시간 계산
all_datas.set_index("time", inplace=True)

all_datas.head()

                    vehicleno                  filename
time
2021-08-25 09:22:02      1383  ./data/210825/092202.csv
2021-08-25 09:23:03      1383  ./data/210825/092303.csv
2021-08-25 09:24:03      1383  ./data/210825/092403.csv
2021-08-25 09:39:02      1323  ./data/210825/093902.csv
2021-08-25 09:40:03      1323  ./data/210825/094003.csv

In [7]:
# 다음 entry 가 같은 vehicleno 일경우 무시
all_datas = all_datas[ 
    all_datas.vehicleno.ne(all_datas.vehicleno.shift())
]
all_datas.head()

                    vehicleno                  filename
time
2021-08-25 09:22:02      1383  ./data/210825/092202.csv
2021-08-25 09:39:02      1323  ./data/210825/093902.csv
2021-08-25 10:01:03      1349  ./data/210825/100103.csv
2021-08-25 10:18:03      1348  ./data/210825/101803.csv
2021-08-25 10:39:02      1428  ./data/210825/103902.csv

In [8]:
# 시간 계산
all_datas["diff"] = all_datas.index.to_series().diff()
all_datas.head()

                    vehicleno                  filename            diff
time
2021-08-25 09:22:02      1383  ./data/210825/092202.csv             NaT
2021-08-25 09:39:02      1323  ./data/210825/093902.csv 0 days 00:17:00
2021-08-25 10:01:03      1349  ./data/210825/100103.csv 0 days 00:22:01
2021-08-25 10:18:03      1348  ./data/210825/101803.csv 0 days 00:17:00
2021-08-25 10:39:02      1428  ./data/210825/103902.csv 0 days 00:20:59

In [9]:
# all_datas["diff"]
diff_data = all_datas.dropna(subset=["diff"])["diff"].dt.seconds.div(60, fill_value=0)
diff_data[diff_data < 120].describe() # 최대시간을 2시간으로 두어 익일인 경우 무시.

count    2060.000000
mean       18.449474
std         7.606281
min         0.000000
25%        14.000000
50%        18.000000
75%        22.016667
max       100.000000
Name: diff, dtype: float64